version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: crediexpress_postgres
    environment:
      POSTGRES_USER: IN6AM
      POSTGRES_PASSWORD: In6amKnl!
      POSTGRES_DB: crediexpress
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: 